<a href="https://colab.research.google.com/github/DiogofCabral/Data-processing/blob/main/spark/examples/06-write_partitioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write
- .write
- .format (parquet, csv, json)
- options
- spark.sql.sources.partitionOverwriteMode dynamic

# Write Mode
- overwrite - The overwrite mode is used to overwrite the existing file, alternatively, you can use SaveMode.Overwrite
- append - To add the data to the existing file, alternatively, you can use SaveMode.Append
- ignore - Ignores write operation when the file already exists, alternatively, you can use SaveMode.Ignore.
- errorifexists or error - This is a default option when the file already exists, it returns an error, alternatively, you can use SaveMode.ErrorIfExists.

# Partitioning
Process to organize the data into multiple chunks based on some criteria.
Partitions are organized in sub-folders.
Partitioning improves performance in Spark.

# Setting up PySpark

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').getOrCreate()

# Preparing data

In [3]:
!pip install faker

Collecting faker
  Downloading Faker-33.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-33.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 21.0 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-33.0.0

In [4]:
from faker import Faker
from datetime import datetime

fake = Faker()

users = []
for _ in range(50):
    user = {
        'date': fake.date_time_between_dates(datetime(2024, 5, 1), datetime(2024, 5, 5)),
        'name': fake.name(),
        'address': fake.address(),
        'email': fake.email(),
        'dob': fake.date_of_birth(),
        'phone': fake.phone_number()
    }
    users.append(user)

df = spark.createDataFrame(users)

df.show(10, False)

+---------------------------------------------------------+--------------------------+----------+-------------------------+-------------------+---------------------+
|address                                                  |date                      |dob       |email                    |name               |phone                |
+---------------------------------------------------------+--------------------------+----------+-------------------------+-------------------+---------------------+
|445 Sandy Lodge Apt. 016\nPort Carlosside, MN 30619      |2024-05-04 00:58:58.833235|1916-02-11|leah29@example.org       |Kristina Ross      |(450)911-1482        |
|611 Tracy Center\nMichaelmouth, TX 57404                 |2024-05-01 00:49:04.421481|1911-04-15|wtran@example.net        |Matthew Matthews   |(253)278-3661x732    |
|499 Jennifer Points\nSouth Kimberlyport, MP 11051        |2024-05-03 19:42:19.835249|1965-04-20|zrodriguez@example.net   |Elizabeth Hernandez|+1-222-382-1079x2517 |
|69497 Ward Lodge Suite 639\nEast Patrickborough, NC 76804|2024-05-04 14:23:43.058211|1932-12-08|qgordon@example.net      |Sarah Perez        |384.573.6871         |
|036 David Center Apt. 611\nSouth Jessestad, MS 39219     |2024-05-01 01:35:33.368358|1939-04-09|timothy05@example.net    |Michael Brady      |001-429-261-6248x3818|
|998 Montgomery Forges\nLake Kim, NY 28454                |2024-05-01 12:07:40.336992|2021-10-16|smithsuzanne@example.org |Maria Hill         |293.426.9042x512     |
|341 Christopher Mountains\nEast Robert, IN 76506         |2024-05-01 20:20:54.45081 |1923-11-10|hoffmanjames@example.org |Samuel Roberts     |906-363-2661         |
|6436 Carpenter Hill\nRileymouth, OH 03624                |2024-05-02 19:10:58.233953|1917-09-07|robinsonsteve@example.com|Pamela Adams       |+1-920-904-9289      |
|6115 Heather Islands\nEast Joshuaside, NH 49827          |2024-05-03 21:37:15.875903|1986-10-07|dscott@example.org       |Richard Hamilton   |(308)578-9786x769    |
|171 Christopher Plain Apt. 362\nNorth Dustin, VA 43868   |2024-05-04 15:25:23.229922|1955-07-04|nknight@example.org      |James Collins      |535.412.0569x4969    |
+---------------------------------------------------------+--------------------------+----------+-------------------------+-------------------+---------------------+
only showing top 10 rows

# Writing as PARQUET

In [5]:
# Writing as PARQUET with no partitions

path = "/content/write_partitioning/parquet_no_partitions"

df.write.mode("overwrite").format("parquet").save(path)

!ls /content/write_partitioning/parquet_no_partitions

spark.read.format("parquet").load(path).count()

part-00000-107acaba-31aa-4a38-95e2-4cb5754ebbbd-c000.snappy.parquet  _SUCCESS

50

In [6]:
# Writing as PARQUET with partitions
from pyspark.sql.functions import *

path = "/content/write_partitioning/parquet_with_partitions"

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic") # enable dynamic partition overwrite - only overwrites partitions that are coming in the dataframe

(df#.where("date_part = '20240503'")
 .write
 .mode("overwrite")                                               # overwrites the entire path with the new data
 .partitionBy("date_part")                                        # partition the data by column - creates sub-folders for each partition
 .format("parquet")                                               # format of output
 .save(path))                                                     # path

!ls /content/write_partitioning/parquet_with_partitions

spark.read.format("parquet").load(path).count()

'date_part=20240501'  'date_part=20240502'  'date_part=20240503'  'date_part=20240504'

50

In [7]:
# Checking single partition
spark.read.parquet("/content/write_partitioning/parquet_with_partitions/date_part=20240502").show()

+--------------------+--------------------+----------+--------------------+-------------------+-------------------+
|             address|                date|       dob|               email|               name|              phone|
+--------------------+--------------------+----------+--------------------+-------------------+-------------------+
|6436 Carpenter Hi...|2024-05-02 19:10:...|1917-09-07|robinsonsteve@exa...|       Pamela Adams|    +1-920-904-9289|
|PSC 2078, Box 239...|2024-05-02 16:14:...|1926-11-13|donnarussell@exam...|Christopher Gilmore|+1-392-706-9563x372|
|97918 Elizabeth B...|2024-05-02 00:29:...|1940-10-14| wwarren@example.net|   Ashley Jones DVM| 345.323.3589x87610|
|8087 Santos View ...|2024-05-02 01:21:...|1975-04-07|ravenballard@exam...|          Tara Hays|      (574)826-2009|
|34512 William Mou...|2024-05-02 05:06:...|2003-09-15|harmonlydia@examp...|        Daryl Miles|       323-474-0809|
|5708 Veronica Mil...|2024-05-02 02:53:...|1969-02-10| xtorres@example.net|   Jessica Bautista|   001-454-822-1986|
+--------------------+--------------------+----------+--------------------+-------------------+-------------------+

# Writing as CSV

https://spark.apache.org/docs/3.5.1/sql-data-sources-csv.html

In [8]:
df.count()

50

In [9]:
path = "/content/write_partitioning/csv_no_partitioning/"

# write as csv
(df
  .write
  .format("csv")
  .mode("overwrite")
  .option("delimiter", "|")
  .option("header", True)
  .save(path))

# listing files in the folder
!ls /content/write_partitioning/csv_no_partitioning/

# read as csv
(spark
  .read
  .options(sep="|", multiLine=True, header=True)
  .csv(path)
  .count())

part-00000-43efe976-ad86-4cd2-87d7-e704bcdbcd96-c000.csv  _SUCCESS

50

# Writing as JSON

https://spark.apache.org/docs/3.5.1/sql-data-sources-json.html

In [11]:
path = "/content/write_partitioning/json_no_partitioning/"

# write as json
(df
.write
.mode("overwrite")
.format("json")
.save(path))

# listing files in the folder
!ls /content/write_partitioning/json_no_partitioning/

# read as json
(spark
  .read
  .json(path)
  .count())

part-00000-fef52904-23bb-4bda-b14d-665c015d27bb-c000.json  _SUCCESS

50

In [14]:
# reading json as text
spark.read.text(path).show(10, False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                   |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"address":"445 Sandy Lodge Apt. 016\nPort Carlosside, MN 30619","date":"2024-05-04T00:58:58.833Z","dob":"1916-02-11","email":"leah29@example.org","name":"Kristina Ross","phone":"(450)911-1482","date_part":"20240504"}               |
|{"address":"611 Tracy Center\nMichaelmouth, TX 57404","date":"2024-05-01T00:49:04.421Z","dob":"1911-04-15","email":"wtran@example.net","name":"Matthew Matthews","phone":"(253)278-3661x732","date_part":"20240501"}                    |
|{"address":"499 Jennifer Points\nSouth Kimberlyport, MP 11051","date":"2024-05-03T19:42:19.835Z","dob":"1965-04-20","email":"zrodriguez@example.net","name":"Elizabeth Hernandez","phone":"+1-222-382-1079x2517","date_part":"20240503"}|
|{"address":"69497 Ward Lodge Suite 639\nEast Patrickborough, NC 76804","date":"2024-05-04T14:23:43.058Z","dob":"1932-12-08","email":"qgordon@example.net","name":"Sarah Perez","phone":"384.573.6871","date_part":"20240504"}           |
|{"address":"036 David Center Apt. 611\nSouth Jessestad, MS 39219","date":"2024-05-01T01:35:33.368Z","dob":"1939-04-09","email":"timothy05@example.net","name":"Michael Brady","phone":"001-429-261-6248x3818","date_part":"20240501"}   |
|{"address":"998 Montgomery Forges\nLake Kim, NY 28454","date":"2024-05-01T12:07:40.336Z","dob":"2021-10-16","email":"smithsuzanne@example.org","name":"Maria Hill","phone":"293.426.9042x512","date_part":"20240501"}                   |
|{"address":"341 Christopher Mountains\nEast Robert, IN 76506","date":"2024-05-01T20:20:54.450Z","dob":"1923-11-10","email":"hoffmanjames@example.org","name":"Samuel Roberts","phone":"906-363-2661","date_part":"20240501"}            |
|{"address":"6436 Carpenter Hill\nRileymouth, OH 03624","date":"2024-05-02T19:10:58.233Z","dob":"1917-09-07","email":"robinsonsteve@example.com","name":"Pamela Adams","phone":"+1-920-904-9289","date_part":"20240502"}                 |
|{"address":"6115 Heather Islands\nEast Joshuaside, NH 49827","date":"2024-05-03T21:37:15.875Z","dob":"1986-10-07","email":"dscott@example.org","name":"Richard Hamilton","phone":"(308)578-9786x769","date_part":"20240503"}            |
|{"address":"171 Christopher Plain Apt. 362\nNorth Dustin, VA 43868","date":"2024-05-04T15:25:23.229Z","dob":"1955-07-04","email":"nknight@example.org","name":"James Collins","phone":"535.412.0569x4969","date_part":"20240504"}       |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [15]:
# reading json as text
spark.read.json(path).show(10, False)

+---------------------------------------------------------+------------------------+---------+----------+-------------------------+-------------------+---------------------+
|address                                                  |date                    |date_part|dob       |email                    |name               |phone                |
+---------------------------------------------------------+------------------------+---------+----------+-------------------------+-------------------+---------------------+
|445 Sandy Lodge Apt. 016\nPort Carlosside, MN 30619      |2024-05-04T00:58:58.833Z|20240504 |1916-02-11|leah29@example.org       |Kristina Ross      |(450)911-1482        |
|611 Tracy Center\nMichaelmouth, TX 57404                 |2024-05-01T00:49:04.421Z|20240501 |1911-04-15|wtran@example.net        |Matthew Matthews   |(253)278-3661x732    |
|499 Jennifer Points\nSouth Kimberlyport, MP 11051        |2024-05-03T19:42:19.835Z|20240503 |1965-04-20|zrodriguez@example.net   |Elizabeth Hernandez|+1-222-382-1079x2517 |
|69497 Ward Lodge Suite 639\nEast Patrickborough, NC 76804|2024-05-04T14:23:43.058Z|20240504 |1932-12-08|qgordon@example.net      |Sarah Perez        |384.573.6871         |
|036 David Center Apt. 611\nSouth Jessestad, MS 39219     |2024-05-01T01:35:33.368Z|20240501 |1939-04-09|timothy05@example.net    |Michael Brady      |001-429-261-6248x3818|
|998 Montgomery Forges\nLake Kim, NY 28454                |2024-05-01T12:07:40.336Z|20240501 |2021-10-16|smithsuzanne@example.org |Maria Hill         |293.426.9042x512     |
|341 Christopher Mountains\nEast Robert, IN 76506         |2024-05-01T20:20:54.450Z|20240501 |1923-11-10|hoffmanjames@example.org |Samuel Roberts     |906-363-2661         |
|6436 Carpenter Hill\nRileymouth, OH 03624                |2024-05-02T19:10:58.233Z|20240502 |1917-09-07|robinsonsteve@example.com|Pamela Adams       |+1-920-904-9289      |
|6115 Heather Islands\nEast Joshuaside, NH 49827          |2024-05-03T21:37:15.875Z|20240503 |1986-10-07|dscott@example.org       |Richard Hamilton   |(308)578-9786x769    |
|171 Christopher Plain Apt. 362\nNorth Dustin, VA 43868   |2024-05-04T15:25:23.229Z|20240504 |1955-07-04|nknight@example.org      |James Collins      |535.412.0569x4969    |
+---------------------------------------------------------+------------------------+---------+----------+-------------------------+-------------------+---------------------+
only showing top 10 rows

In [16]:
# partition json data + saveAsTable

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

# write as json
(df.write
  .partitionBy("date_part")
  .mode("overwrite")
  .format("json")
  .saveAsTable("tbl_json_part"))

# read as json
spark.table("tbl_json_part").count()

# read as json
spark.sql("show partitions tbl_json_part").show()

+------------------+
|         partition|
+------------------+
|date_part=20240501|
|date_part=20240502|
|date_part=20240503|
|date_part=20240504|
+------------------+

# Append Mode

In [17]:
# Writing as PARQUET with APPEND

path = "/content/write_partitioning/parquet_append"

df.write.mode("append").format("parquet").save(path)

!ls /content/write_partitioning/parquet_append

spark.read.format("parquet").load(path).count()

part-00000-de99dbf1-b9cf-4d5e-b57f-dd035cdc28ac-c000.snappy.parquet  _SUCCESS

50